body{
  margin:10px 0px;
}

.top-container{
   height:50px;
}
.inner-container{
  background-color: #fff;
  margin:30px;
  border:solid;
  padding:20px;
}
.middle-container{
  background-color: #BBD6B8;
  height:350px;
  width:300px;
  padding:10px;
  margin-top: 100px;
  margin-left: 500px;
}
.bottom-container
{
  height:200px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #1d618f);
  background-image: -moz-linear-gradient(top, #3498db, #1d618f);
  background-image: -ms-linear-gradient(top, #3498db, #1d618f);
  background-image: -o-linear-gradient(top, #3498db, #1d618f);
  background-image: linear-gradient(to bottom, #3498db, #1d618f);
  -webkit-border-radius: 55;
  -moz-border-radius: 55;
  border-radius: 55px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 60px 10px 60px;
  border: solid #000000 2px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 50px;;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
  